// ------------- Swiper ---------

.swiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.mainSwiper,
.user__swiper,
.offers-swiper {
  max-width: 865px;
  min-width: 400px;
  .swiper {
    border-radius: 10px !important;
    overflow: hidden !important;
  }

  .swiper-slide img {
    height: 300px !important;
    border-radius: 10px !important;
    box-shadow: $shadow-1 !important;
  }

  .swiper-pagination-bullet {
    width: 9px !important;
    border-radius: 5px !important;
  }

  .swiper-pagination-bullet-active {
    background: white !important;
    width: 13px !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    transform: scale(0.5) !important;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: #6666665a !important;
    display: none;
    place-items: center;
  }
  .swiper-button-prev {
    left: -13px;
  }
  .swiper-button-next {
    right: -13px;
  }
}

.offers-swiper {
  max-width: 550px;
  transform: translatex(33%);

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px !important;
    border-radius: 10px !important;
    height: 200px !important;
    margin-top: 0.6rem !important;
    box-shadow: $shadow-1;
    &:hover {
      transform: scale(1.03);
      transition: 0.2s;
    }
    span {
      position: absolute;
      color: #fff;
      &:first-of-type {
        bottom: 10px;
        width: 90px;
        height: 25px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        background: $yellow-color;
      }
      &:last-of-type {
        font-style: italic;
        top: -5px;
        right: -5px;
        background: $redish-color;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 16px;
        font-weight: 600;
        box-shadow: $shadow-1;
      }
    }
  }

  .swiper-slide img {
    top: 0;
    width: 100%;
    height: 200px !important;
    object-fit: cover !important;
  }

  .swiper-pagination {
    display: none;
  }
}

.user__swiper {
  min-width: 180px !important;
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    img {
      height: 240px !important;
      width: 180px !important;
    }
  }
}
